.cls-1, .cls-2, .cls-5 {
    fill: none;
    stroke-miterlimit: 10;
  }

  .cls-1 {
    stroke: #4f4f4f;
  }

  .cls-1, .cls-5 {
    stroke-width: 3px;
  }

  .cls-2 {
    stroke: #f09cdb;
    stroke-width: 4px;
  }

  .cls-3 {
    fill: url(#Dégradé_sans_nom_7);
  }

  .cls-4 {
    fill: #303030;
  }

  .cls-5 {
    stroke: #fff;
  }