/* ############### SEQUENCER ################## */


.sequencer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}




/* ##########   EDITOR   ###########  */

.editor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

/* preview keyboard (notes) */
.previewNotes{
    width: 70px;
    border-top: 1px solid black;
}

.keynotes{
    background:  #979797 ;
    height: 20px;
    padding-right: 5px;
    /* background: red; */
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}

.keynotes:hover{
    background:  #b6b6b6 ;
    
}

.keynotes:active{
    background:  #838383 ;
    
}

small{
    float: right;
}

/* rows */
.rows {
    width: 50%;
    background: grey;
    /* border: 1px solid black; */
    min-width: 500px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
}

.row {
    background: gray;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;

}

.note_bloc {
    height: 20px;
    flex: 1;
    background:#7b99b7;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.note_bloc:hover {
    background:#8cafd1;
    
}

.note_bloc_active {
    flex: 1;
    height: 20px;
    width: 50px;
    background: rgb(233, 233, 64);
    border-bottom: 1px solid;
    border-right: 1px solid;
}


/* #############   TOOLBAR ################## */
.toolbar {
    margin: auto;
}